.root
  position: relative
.opened
  .picker
    opacity: 1
    transform: translateX(0)
    pointer-events: auto
.picker
  position: absolute
  top: calc(100% + 16px)
  left: 0
  width: 298px
  height: 378px
  background: #fff
  border: 1px solid #D3D9E1
  padding: 24px 0
  box-shadow: 0 11px 24px rgba(0, 0, 0, 0.1)
  z-index: 11
  transition-property: opacity, transform
  transition: 300ms cubic-bezier(0, 0, 0.2, 1)
  opacity: 0
  transform: translateX(50px)
  pointer-events: none
.header
  padding: 0 24px 16px
.inputWrapper
  margin-top: 16px
  position: relative
  svg
    position: absolute
    top: 50%
    right: 17px
    transform-origin: right
    transform: translateY(-50%) scale(0.8)
    path
      stroke: #9BA0A8
.input
  input
    height: 40px
    border: 1px solid rgba(195, 198, 203, 0.6)
    padding: 0 40px 0 16px
.optionsWrapper
  padding-right: 5px
.optionsContent
  width: 100%
.optionsContainer
  width: 100%
  height: 254px
  overflow-y: auto
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    background-color: #fff
  &::-webkit-scrollbar-thumb
    background-color: rgba(211, 217, 225, 0.6)
    border-radius: 100px
.option
  width: 100%
  height: 40px
  padding: 0 24px
  display: flex
  align-items: center
  justify-content: flex-start
  background-color: #fff
  transition: background-color 300ms cubic-bezier(0, 0, 0, 1)
  cursor: pointer
  p
    transition: color 300ms cubic-bezier(0, 0, 0, 1)
  &:hover
    background-color: #F3F7F8
    p
      color: #111