.inputContainer
  width: 100%
  & > p
    font-family: 'Lato', sans-serif
    font-size: 14px
    line-height: 22px
    color: rgba(55, 65, 81, 0.8)
    margin-top: 10px
.inputWrapper
  position: relative
  width: 100%
.input
  width: 100%
  height: 50px
  padding: 0 20px
  background: #FFFFFF
  border: 1px solid rgba(195, 198, 203, 0.6)
  outline: none
  color: #000
  font-size: 14px
  font-weight: 400
  -webkit-appearance: none
  border-radius: 0
  &::placeholder
    color: rgba(55, 65, 81, 0.6)
.small
  height: 40px
  padding: 0 16px
.iconRight
  padding-right: 40px
.label
  label
    font-weight: 600
    font-size: 16px
    line-height: 20px
  .inputWrapper
    margin-top: 16px


