.root
  padding: 23px 23px 32px
  width: 100%
.flat
  padding: 0
  .checkboxes
    padding-bottom: 31px
    border-bottom: 1px solid #D3D9E1
    margin-bottom: 32px
.checkboxes
  margin-top: 24px
.checkbox
  margin-bottom: 16px
  &:last-child
    margin-bottom: 0
.input
  width: 100%
  margin-top: 16px