.root
  padding: 100px 0 29px
.content
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
.imageContainer
  position: relative
  width: 100%
  max-width: 457px
  height: 545px
.info
  margin-left: 128px
  padding-top: 29px
  max-width: 555px