.root
  heihgt: 100vh
  min-height: 700px
  width: 100%
  display: flex
  flex-direction: column
  padding-top: 82px
.container
  border-top: 1px solid #ECEFF4
.tableContainer
  padding-top: 24px
  width: 100%
.description
  width: 100%
  max-width: 800px
  margin: 99px auto 70px auto
  padding: 0 20px
  text-align: center
  position: relative
  &::before
    content: ""
    position: absolute
    height: 4px
    width: 60px
    top: -25px
    left: 50%
    transform: translate(-50%, -50%)
    background: #1DC3A6
.table
  width: 100%
  max-width: 1200px
  padding: 0 40px 24px 40px
  margin: 0 auto
.tableHeader
  display: flex
  align-items: center
  justify-content: space-between
  align-items: center
  padding: 14px 0 20px 0
  border-bottom: 1px solid #ECEFF4
  p
    font-size: 12px
    font-weight: 600
    line-height: 21px
    color: #878D97
.col
  box-sizing: border-box
  padding: 8px
  width: 100%
  overflow: hidden
  margin-right: 20px
  display: flex
  flex-direction: row
  justify-content: flex-start
  cursor: pointer
  p
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  &:last-child
    margin-right: 0
.colUsername
  min-width: 400px
  max-width: 400px
.colPrice
  min-width: 160px
  max-width: 160px
.colItems
  min-width: 110px
  max-width: 110px
.tableItem
  width: 100%
  height: 85px
  border-bottom: 1px solid #ECEFF4
  display: flex
  align-items: center
  justify-content: space-between
  transition: all 0.2s ease 0s
  cursor: pointer
  .col
    p
      font-size: 14px
      color: #111
      font-weight: 600
      line-height: 17px
  &:hover
    background-color: #F3F7F8
.icon
  margin-left: 6px
  path
    fill: #878D97
.iconActive
  transform: rotate(180deg)
.index
  color : #000
  margin-right: 8px
.filtersBlock
  padding: 0 40px
  width: 100%
  max-width: 1200px
  margin: 0 auto

  display: flex
  flex-direction: row

  justify-content: space-between
.filtersBlockLeft
  display: flex
  flex-direction: row
.filter
  min-width: 200px
  max-width: 200px
  &+&
    margin-left: 30px
.selectSortVolume
  min-width: 250px
  max-width: 250px
  margin-left: 30px