.root
  padding-top: 82px
  width: 100%
.policyContainer
  width: 100%
  max-width: 840px
  margin: 0 auto
  padding: 50px 20px
  .policyItem
    padding-top: 82px
  h1
    font-size: 42px
    font-weight: 600
    color: #111
    line-height: 51px
    text-align: center
    width: 100%
  h2
    font-size: 36px
    font-weight: 600
    line-height: 44px
    color: #111111
    position: relative
    margin-bottom: 30px
  h3
    margin-top: 30px
    margin-left: 50px
  p
    line-height: 1.5
    margin-top: 20px
  a
    color: #1DC3A6
    text-decoration: underline
  ul
    padding-left: 50px
    margin: 20px 0
    li
      margin-bottom: 10px
  .sub
    margin-top: 20px
    padding-left: 50px

@media (max-width: 600px)
  .policyContainer
    padding: 30px 10px
    .policyItem
      padding-top: 40px
    h1
      font-size: 30px
      font-weight: 600
      color: #111
      line-height: 30px
      text-align: center
      width: 100%
    h2
      font-size: 25px
      font-weight: 600
      line-height: 25px
      color: #111111
      position: relative
      margin-bottom: 20px
    h3
      margin-top: 20px
      margin-left: 30px
    ul
      padding-left: 30px
    .sub
      padding-left: 30px
